@import url('https://fonts.cdnfonts.com/css/press-start-2p');

.tictacTxt{
    color: #45f3ff;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 10vw);
}

.square {
    // border-color: black;
    border-color: white;
    border-style: solid;
    // border-radius: 100px;
    text-align: center;
    vertical-align: center;
    font-size: 100px;
    width: 200px;

    position: relative;
    top: 50%;
    // left: 0;
    // bottom: 0;
    // right: 0;
}

#one {
    grid-column: 1;
    grid-row: 1;
    border-top: 0;
    border-left: 0;
}
#two {
    grid-column: 2;
    grid-row: 1;
    border-top: 0;
}
#three {
    grid-column: 3;
    grid-row: 1;
    border-top: 0;
    border-right: 0;
}
#four {
    grid-column: 1;
    grid-row: 2;
    border-left: 0;
}
#five {
    grid-column: 2;
    grid-row: 2;
}
#six {
    grid-column: 3;
    grid-row: 2;
    border-right: 0;
}
#seven {
    grid-column: 1;
    grid-row: 3;
    border-left: 0;
    border-bottom: 0;
}
#eight {
    grid-column: 2;
    grid-row: 3;
    border-bottom: 0;
}
#nine {
    grid-column: 3;
    grid-row: 3;
    border-bottom: 0;
    border-right: 0;
}